:root {
  --primary-yellow: #ffd600;
  --primary-white: #ffffff;
  --primary-gray: #e0e0e0;
  --secondary-gray: #9e9e9e;
  --primary-dark-gray: #212529;
  --secondary-yellow: #fff176;
  --primary-red: #f2453d;
}
