@import url("../../../assets/theme/palette.css");

.recovery-img-container {
  position: absolute;
  left: 0;
  top: 0;
  filter: brightness(30%);
  min-width: 100%;
  z-index: -1;
}

.recovery-img-container img {
  display: block;
  min-width: 100%;
  max-height: 100vh;
}

.recovery-form {
    background-color: #fff;
    width: 803px;
    min-height: 420px;
    padding: 16px 16px 56px;
    margin: 10px auto 0;
    border-radius: 8px;
}

.recovery-arrow_back {

}

.recovery-form-header {
    display: flex;
    justify-content: space-between;
    padding: 7px 7px 18px 7px;
}

.recovery-form-header-back-img {
    max-width: 100%;
}

.recovery-form-header-back-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    cursor: pointer;
}

.recovery-form-header-back-button {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    cursor: pointer;
}

.recovery-form-header-back-text {
    color: #212529;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    margin-left: 15px;
}

.recovery-form-body-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    padding-left: 130px;
    padding-right: 140px;
}

.recovery-from-body-text_big {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #212529;
}

.recovery-form-body_progress_bar {
    margin-top: 24px;
}

.recovery-form-body_list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 46px;
}

.recovery-form-body_step_container {
    flex-grow: 1;
}

.recovery-form-body_step-border {
    position: relative;
    color: #9e9e9e;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 14px;
    border-bottom: solid 4px #eeeeee;
}

.recovery-form-body_progress_text {
font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.recovery-form-progress_ellipse {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #eee;
}